.input {
  width: 100%;
  input {
    width: 97%;
    height: 30px;
    font-weight: 500;
    margin: 5px 0;
    padding: 2px 8px;
    border: none;
    outline: none;
    background: #dedede;
    border-radius: 2px;

    // &::placeholder {
    //   color: white;
    // }

    &:focus,
    &:focus-visible {
      border: none !important;
      outline: none;
    }
  }
}
