.post {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto 45px;
  background-color: white;
  max-width: 500px;
  /* border: 1px solid lightgray; */
  margin-bottom: 45px;
}

.post_image {
  width: 100%;
  object-fit: contain;
  /* border-top: 1px solid lightgray; */
  /* border-bottom: 1px solid lightgray; */
}

.post_text {
  font-weight: normal;
  padding: 20px;
  border-bottom: 1px solid #aaa;
}

.post_comments {
  padding: 20px;
}

.post_header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post_header-info {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;

  .delete {
    max-width: 80px;
  }
}
